.route-filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.route-filters__header {
    margin-bottom: 4px;
}

.route-filters__bus-count {
    font-size: 0.75rem;
    color: #888;
}

.route-filters__buses {
    display: flex;
    flex-wrap: wrap;
}

.route-filters__rail {
    display: flex;
    flex-wrap: wrap;
}

::deep .route-filters__section-label {
    font-size: 0.9rem;
    color: #888;
    margin: 4px 0 2px !important;
}

.route-filters__route-filter {
    padding: 1px 2px;
    cursor: pointer;
    display: flex;
    align-self: center;
    justify-self: center;

    > .route-filters__route-filter-circle {
        background-color: var(--route-filter-color, red);
        border-radius: 120px;
        padding: 2px;

        &.route-filters__route-filter-disabled {
            background-color: lightgrey;
        }
    }

    &:hover {
        > .route-filters__route-filter-circle {
            scale: 1.1;
        }
    }
}

.route-filters__route-filter-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 55px;
}

::deep .route-filters__route-filter-label {
    color: white;
    margin: 4px 0 2px !important;
}

.route-filters__clear-btn {
    background-color: #888;
}